@media all and (max-width: 530px){
header{
  height:300px;
  .text-header{
    .bag{
      display: none;
      padding: 10px;
    }

  }
}
  .itembox {
    .item{
      width: 250px !important;

    }

  }
}
nav{
 .navbar{
    @media all and (max-width: 1250px){
width: 92%;
    }
z-index: 99999999999999;
   @media all and (max-width: 900px){
.inputcontrolltrue{

  width: 110px;
}
    ul{position: relative;
      transition: right 0.5s ease-in-out;
      position: absolute;
      right: -400px;
      width:220px;
      margin: 0 auto;
      box-shadow: 2px 3px 11px -5px #000;
      li{
        &:last-child{
          margin-right: 20px;
        }
        .fa-search{

        }
        width: 100%;
        padding: 5px;
        margin: 10px;
        margin-right: 2px;
        display: block !important;
      }
      flex-direction: column;
      align-items: center;
      top: 66px;
      z-index: 99999999;
      padding: 10px;
      padding-right: 2px;

    }
     .fa.fart{
       display: inline-block;
     }
   }
  }
}
@media all and(max-width: 1125px){
  .footer-section{
    height: 95px;
    a{
      text-align: center;
      display: block;
      margin: 5px;
      width: 80px;
    }
  }
}
@media all and(max-width: 977px){
  .flex-wrapper{
    padding-bottom: 25px;
    .single-chart{
      margin: 25px;
    }
  };

}
@media all and(max-width: 1024px) {
  .tabel>.panel{
   margin: 20px 5px !important;
  }
}@media all and(max-width: 715px) {

}
.logo{
  height:40px
}
.responsiveUl{


  right: -20px !important;


}
.row-section-2 .row-2{
  @media all and(max-width: 1140px) {
    width: 100%;
  }
  @media all and(max-width: 745px) {
  flex-direction: column;
    justify-content: center;
  }
}
@media all and (max-width: 420px){
  header .text-header h1{
 font-size: 35px;
  }
  .col-box{
    margin-right: 0 !important;
  }
  .item-box{
    padding: 2px;
    p{
      width: 100% !important;
    }
    flex-wrap: wrap;
    text-align: center;
    .icon-box{
      display: none;
    }
  }
}
@media all and(max-width: 380px) {
  .row-section-4 > .btn a {
    font-size: 13px;
  }
  .slides .slide,img {
    width: 180px !important;
  }
  .responsiveSize{
font-size: 14px !important;
  }
  .footer-section{
    .texter{
      padding-bottom: 220px;

    }    flex-direction: column;
    height: 250px;
  }
.scrollTop{
  bottom: 5px;
  width: 33px;
  height: 23px;
  right: 5%;
}
  .scrollTop:before{
    font-size: 17px !important;
  }
.parent{
  overflow: hidden;
  width: 100%;
}
  .border-pub{
  width: 180px;
  font-size: 15px;  overflow: hidden;

  }

  .border-pub:before{
    content: '';
    display: none !important;

  }
  .border-pub:after{
    content: '';

    display: none !important;
  }

}
.font-15{
  font-family: 'iransans-light';
  font-size: 15px !important;
}